<section class="nav-main-option slide-down-panel" id="about">

	<span class="glyphicon glyphicon-remove hide-parent hide-nav top-right-x" aria-hidden=true></span>

	<div class="main-option-content">

		<div class="centered">

			<%= image_tag 'shane_randolph_photo.jpg', class:'about-image'%>
		
		</div>

		<header>Shane Randolph</header>

		<h3>Web Developer</h3>

		<h4>About Me</h4>

		<br>

		<div class="row">

			<div class="col-xs-12 col-sm-6">

				<p>I am Shane Randolph, an economist turned web developer and UI/UX designer based in Montreal. I have worked with companies and teams all over the world assisting with the development, design, and marketing of software and web applications.</p>

				<p>Need help with an upcoming project or application? Learn a bit more about me and then consider hiring me.</p>

			</div>


			<div class="col-xs-12 col-sm-6">

				<p>I am Shane Randolph, an economist turned web developer and UI/UX designer based in Montreal. I have worked with companies and teams all over the world assisting with the development, design, and marketing of software and web applications.</p>

				<p>Need help with an upcoming project or application? Learn a bit more about me and then consider hiring me.</p>

			</div>

		</div>

	</div>

</section>