<div class="modal-container reveal-panel" id="artyam-page" style="display: none;">

	<div class="modal-content">

		<span class="dismiss-modal">X</span>

		<section>

			<header>ArtYam</header>

			<%= link_to "http://ArtYam.com", "http://artyam.com", target: :_blank %>
			<br>
			<%= link_to "ArtYam Artwork Listing", "http://www.artyam.com/9832", target: :_blank %>

			<br>

			<div class="text-content">

				<p>ArtYam is a subscription software-as-a-service eCommerce platform for fine arts galleries and artists. ArtYam makes public artwork displays more profitable by creating responsive, eCommerce-enabled web pages that can be accessed by prospective art buyers via short, human-readable URLs and QR codes.</p>

				<p>Key Features:</p>

				<ul>
					<li>Payment Processing</li>
					<li>Mobile-responsive Design</li>
					<li>Mobile-responsive Design</li>

				</ul>

			</div>

		</section>
	
	</div>

</div>