<div class="modal-container reveal-panel" id="artyam-page" style="display: none;">

	<div class="modal-content">

		<span class="dismiss-modal">X</span>

		<section>

			<header>ArtYam</header>

			<p>ArtYam is a subscription software-as-a-service eCommerce platform for fine arts galleries and artists. ArtYam makes public artwork displays more profitable by creating responsive, eCommerce-enabled web pages that can be accessed by prospective art buyers via short, human-readable URLs and QR codes.</p>

			<p>URL: <%= link_to "http://ArtYam.com", "http://artyam.com", target: :_blank %></p>
			
			<p>Design Example: <%= link_to "ArtYam Artwork Listing", "http://www.artyam.com/9832", target: :_blank %></p>

			<p><b>Technical Features:</b></p>


			<ul class="features">
				
				<li>Payment Processing (Stripe API)</li>
				<li>Mobile-responsive Design</li>

			</ul>

		</section>
	
	</div>

</div>