<div class="modal-container reveal-panel" id="comedyhere-page" style="display: none;">

	<div class="modal-content">

		<section>

			<header>ComedyHere</header>

			<%= link_to "http://ComedyHere.com", "http://comedyhere.com", target: :_blank %>

			<span class="dismiss-modal">X</span>

			<br>

			<div class="text-content">

				<p>ComedyHere is a geocoded directory for recurring and limited engagement comedy shows.</p>

				<p>Key Features:</p>

				<ul>
					<li>Mobile-responsive Design</li>
					<li>Semantic HTML5</li>

				</ul>

			</div>

		</section>
	
	</div>

</div>