<section class="nav-main-option slide-down-panel" id="contact">

	<span class="glyphicon glyphicon-remove hide-parent hide-nav top-right-x" aria-hidden=true></span>

	<div class="main-option-content">

		<header>Contact Me</header>
		
		<h3>Get in touch</h3>

		<br>

		<p>Thanks for checking out my site. Need help with an upcoming project or application? Feel free to get in contact with me through any of the channels listed below.</p>

		<%= link_to "Email", "mailto:r.shane.randolph@gmail.com?Subject=Hi Shane", target: :_top  %>
		<br>
		<%= link_to "GitHub", "https://github.com/randolrs", target: :_blank  %>
		<br>
		<%= link_to "Twitter", "https://twitter.com/RShaneRandolph", target: :_blank  %>

	</div>

</section>

