<div class="modal-container reveal-panel" id="hiro-asian-kitchen-page" style="display: none;">

	<div class="modal-content">

		<section>

			<header>Hiro Asian Kitchen</header>

			<%= link_to "http://HiroAsianKitchen.com", "http://hiroasiankitchen.com", target: :_blank %>

			<span class="dismiss-modal">X</span>

			<br>

			<div class="text-content">

				<p>HiroAsianKitchen is a brick and morter restaurant I did some ... .</p>

				<p>Key Features:</p>

				<ul>
					<li>Mobile-responsive Design</li>
					<li>Semantic HTML5</li>

				</ul>

			</div>

		</section>
	
	</div>

</div>