
<section id="contact" class="reveal-panel" id="contact" style="display: none;">

	<div class="text-content">

		<header>Contact</header>

	</div>

	<div class="image-content">

		<%= image_tag 'shane_randolph_photo.jpg', class:'home-main-image'%>

	</div>

</section>