
<section class="reveal-panel" id="development" style="display: none;">

	<div class="text-content">

		<h2>Development</h2>

		<p>I have 4 years of experience developing full-featured web applications, many on behalf of startups. Backend technologies including Ruby, Python, and PHP.  ... features including payment processing, geocoding, and algorithmic search. .. optimized performance</p>

		<p>Reference Projects</p>

		<ul>
			<li><a>ArtYam</a></li>
			<li><a>Servmanity</a></li>

		</ul>

		<p>In addition to ... development, ... design of applications effective ...</p>

		<br>

		<a class="button blue-background click-to-reveal" data-reveal-panel-id="design">Next</a>

	</div>

	<div class="image-content">

		<%= image_tag 'shane_randolph_photo.jpg', class:'home-main-image'%>

	</div>

</section>