
<section class="reveal-panel" id="marketing" style="display: none;">

	<header>Marketing</header>

	<div class="text-content">

		<p>...experience in social media consultant, SEO consultant, and ... user acquisition, affiliate marketing... I also hold a B.S. in Business and an M.A. in Economics from a pretty good business school.</p>

		<p>Segway language between this section and the next</p>

		<br>

		<a class="button blue-background click-to-reveal" data-reveal-panel-id="contact">Go to my Contact Page <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>

	</div>

	<div class="image-content">

		<div class="centered">

			<ul class="" id="rig">

				<li>
					<a class="rig-cell" href="<%= root_path %>">

					<%= image_tag 'sublime_text_photo.PNG', class:'rig-img'%>
			        
			        <span class="rig-overlay"></span>
			        
			        <span class="rig-text">ArtYam</span>

				    </a>
				</li>

				<li>
					<a class="rig-cell" href="<%= root_path %>">

					<%= image_tag 'sublime_text_photo.PNG', class:'rig-img'%>
			        
			        <span class="rig-overlay"></span>
			        
			        <span class="rig-text">Servmanity</span>

				    </a>
				</li>

			</ul>

		</div>

	</div>

</section>