
<section class="reveal-panel" id="design" style="display: none;">

	<div class="text-content">

		<h2>Design</h2>

		<p>... based on the ... the web design is fundamnetally communication technology.  ... did they get the message?</p>

		<p>Recent projects</p>

		<ul>
			<li><a>Hiro Asian Kitchen</a></li>
			<li><a>ComedyHere</a></li>

		</ul>

		<p>...development plus design is moot without marketing ...</p>

		<br>

		<a class="button blue-background click-to-reveal" data-reveal-panel-id="marketing">Next</a>

	</div>

	<div class="image-content">

		<%= image_tag 'shane_randolph_photo.jpg', class:'home-main-image'%>

	</div>

</section>