
<section class="reveal-panel" id="marketing" style="display: none;">

	<div class="text-content">

		<h2>Marketing</h2>

		<p>...experience in social media consultant, SEO consultant, and ... user acquisition, affiliate marketing... I also hold a B.S. in Business and an M.A. in Economics.</p>

		<p>Reference Projects</p>

		<ul>
			<li><a>Web Development</a></li>
			<li><a>Design</a></li>

		</ul>

		<p>Suggested on the Subject</p>

		<ul>
			<li><a>Book 1</a></li>
			<li><a>Blog 1</a></li>

		</ul>

		<p>Segway language between this section and the next</p>

		<br>

		<a class="button blue-background click-to-reveal" data-reveal-panel-id="contact">Next</a>

	</div>

	<div class="image-content">

		<%= image_tag 'shane_randolph_photo.jpg', class:'home-main-image'%>

	</div>

</section>