
<section class="reveal-panel" id="development" style="display: none;">

	<header>Development</header>

	<div class="text-content">

		<p>I have developed many full-featured web applications, many on behalf of startups. I work primarily with Ruby but am also very familiar with Python and PHP. I have successfully implemented application features including payment processing, geocoding, and algorithmic search, and performance optimization.</p>

		<p>In addition to ... development, ... design of applications effective ...</p>

		<br>

		<a class="button blue-background click-to-reveal" data-reveal-panel-id="design">See my Design Experience <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>

	</div>

	<div class="image-content">

		<div class="centered">

			<ul class="" id="rig">

				<li>
					<a class="rig-cell" href="<%= root_path %>">

					<%= image_tag 'sublime_text_photo.PNG', class:'rig-img'%>
			        
			        <span class="rig-overlay"></span>
			        
			        <span class="rig-text">ArtYam</span>

				    </a>
				</li>

				<li>
					<a class="rig-cell" href="<%= root_path %>">

					<%= image_tag 'sublime_text_photo.PNG', class:'rig-img'%>
			        
			        <span class="rig-overlay"></span>
			        
			        <span class="rig-text">Servmanity</span>

				    </a>
				</li>

			</ul>

		</div>

	</div>

</section>