
<section class="reveal-panel" id="welcome">

	<header>Hello!</header>
	
	<div>
		<div class="text-content">

			<p>I am Shane Randolph, an economist turned web developer and UI/UX designer based in Montreal. I have worked with companies and teams all over the world assisting with the development, design, and marketing of software and web applications.</p>

			<p>Need help with an upcoming project or application? Learn a bit more about me and then consider hiring me.</p>

		</div>

		<div class="image-content">

			<%= image_tag 'montreal_photo.jpg', class:'home-main-image'%>

		</div>

	</div>

	<%= render :partial => 'pages/next_page_cta', :locals => {:page_id => "development", :cta_text => "See My Development Experience"} %>

</section>