<a class="button black-background click-to-reveal hide-on-mobile" data-reveal-panel-id="<%= page_id %>"><%= cta_text %> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>

<div class="fixed-bottom-cta mobile-only">

	<a class="button black-background click-to-reveal" data-reveal-panel-id="<%= page_id%>"><%= cta_text %> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>

</div>

<div class="fixed-bottom-cta-offset mobile-only">


</div>