<div class="modal-container reveal-panel" id="servmanity-page" style="display: none;">

	<div class="modal-content">

		<span class="dismiss-modal">X</span>


		<section>

			<header>Servmanity</header>

			<p>Servmanity is an on-demand home services marketplace. The application matches mobile professionals with customers in real-time based on location, availability, service category, and price.</p>

			<%= link_to "Go to Servmanity.com", "http://servmanity.com", target: :_blank, class:"button black-background" %>



			<p><b>Technical Features:</b></p>

			<ul class="features">
				
				<li>Real-time matching using AJAX</li>
				<li>Payment Processing(Stripe Connect API)</li>
				<li>Mobile-responsive Design</li>
				<li>Geocoding (Google Maps API)</li>
				<li>User onboarding based on A/B testing and user feedback</li>

			</ul>

		</section>
	
	</div>

</div>