<div class="modal-container reveal-panel" id="servmanity-page" style="display: none;">

	<div class="modal-content">

		<section>

			<header>Servmanity</header>

			<%= link_to "http://Servmanity.com", "http://servmanity.com", target: :_blank %>

			<span class="dismiss-modal">X</span>

			<br>

			<div class="text-content">

				<p>Servmanity is an on-demand home services marketplace.</p>

				<p>Key Features:</p>

				<ul>
					<li>Payment Processing</li>
					<li>Mobile-responsive Design</li>
					<li>Mobile-responsive Design</li>

				</ul>

			</div>

		</section>
	
	</div>

</div>