<div class="modal-container reveal-panel" id="thatHQ-page" style="display: none;">

	<div class="modal-content">

		<span class="dismiss-modal">X</span>


		<section>

			<header>thatHQ</header>

			<p>thatHQ provides a personalized syllabus of book recommendations based on a collection of best business books I have read.</p>

			<p><%= link_to "Go to thatHQ.com", "https://thatHQ.com", target: :_blank, class:"button black-background"  %></p>

			<p><b>Technical Features:</b></p>

			<ul class="features">
				
				<li>Algorithmic personalization of recommendations</li>
				<li>Payment Processing(Stripe API)</li>
				<li>Mobile-responsive design</li>

			</ul>

		</section>
	
	</div>

</div>