// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.footer-container{
	padding: 50px;
	padding-bottom: 80px;
	background: #111;
	color: #fff;

	z-index: 99998;

	.footer-content{
		max-width: 1200px;
		margin: 0 auto;
		text-align: center;
	}

}