// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	
	.home-background{

		position: absolute;
		left: 0px;
		right:0px;
		top:0px;
		min-height: 100%;

		font-family: 'Oxygen', sans-serif;

		background-image: url("milky-way.jpg");
		background-image: asset-url("milky-way.jpg");
		background-size:cover;

		background-repeat: no-repeat;
    	background-attachment: fixed;
    	background-position: center; 


		.home-background-overlay{
			position: fixed;
			left: 0px;
			right:0px;
			top:0px;
			bottom: 0px;
			background: rgba(0,0,0,0.1);
		}

		.home-landing{
			background-size: cover;
		    background-position: 50%;
		    position: relative;
		    float: none;
		    width: 100%;
		    height: 100%;
		    z-index: 0;

		    .home-title{
		    	color: #fff;
			    z-index: 1;
			    vertical-align: middle;
			    margin-top: 100px;
			    text-align: center;
			    padding: 20px;

			    .home-initials{

			    	display: inline-block;
			    	margin: 0 auto;
			    	padding: 10px;
			    	text-align: center;
			    	border: 2px solid #fff;
			    	transform: rotate(45deg);
			    	height: 100px;
			    	width: 100px;

			    	p.initials{

			    		transform: rotate(-45deg);
					    font-size: 40px;
					    font-weight: 100;

					    font-size: 40px;
					    font-weight: 100;
					    display: inline-block;
					    width: 80px;
					    height: 80px;
					    line-height: 80px;
			    	}
			    }

			    h1{

			    	font-size: 40px;

			    	letter-spacing: 2px;
			    	font-weight: 300;
			    }

			    h2{
			    	font-size: 30px;
			    	letter-spacing: 1.5px;
			    	font-weight: 300;
			    }

			    .action-container{

			    	display: inline-block;
			    	

			    	.action-button{
			    		display: inline-block;
			    		width: 200px;
			    		padding: 20px;
			    		cursor: pointer;
			    		color: #fff;
			    		font-size: 20px;
			    		transition:all 0.5s;
			    	}

			    	.action-button:hover{
			    		transform:scale(1.1);
			    	}
			    }
		    }

		}

	}



	a:hover{
		text-decoration: none;
	}

	.main-container{

		top: 0 !important;
    	left: 0 !important;
    	width: auto !important;
    	position: relative;

	}

	.left-block-offset{
		height: 80px;
		width: 100%;
	}

	.left-block{
	    position: fixed;
	    z-index: 100;
	    top: 0;
	    left: 0;
	    width: 100%;
	    right: 0px;
	    height: 80px;
	    background: #000;


	    border-width: 0px 0px 3px 0px;
	    border-style: solid;
	    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(red), to(rgba(50, 0, 200, 0.8))) 1 100%;
	    -webkit-border-image: -webkit-linear-gradient(red, rgba(50, 0, 200, 0.8)) 1 100%;
	    -moz-border-image: -moz-linear-gradient(red, rgba(50, 0, 200, 0.8)) 1 100%;
	    -o-border-image: -o-linear-gradient(red, rgba(50, 0, 200, 0.8)) 1 100%;
	    border-image: linear-gradient(to bottom, red, rgba(50, 0, 200, 0.8)) 1 100%;

	    .main-image-container{

	    	padding:5px 10px;
	    	width: inherit;
			max-width: 80px;
			height: inherit;
			margin: 0;
			display: inline-block;

		    .home-main-image{
		    	width: 70px;
		    	height: 70px;
			    border-radius: 50%;
			    border: 3px solid #fff;
		    }

	    }

	    h1{
	    	color: #fff;
	    	font-size: 20px;
	    	text-align: center;
	    	display: inline-block;
	    }

	    .main-menu{
	    	
	    	display: none;

	    	a{
	    		display: block;
			    width: 100%;
			    height: 3em;
			    line-height: 3em;
			    text-transform: uppercase;
			    color: #ccc;
			    cursor: pointer;
			    font-size: 16px;
			    white-space: nowrap;
			    padding: 0 0 0 20px;
			    -webkit-transition: box-shadow 300ms;
			    transition: box-shadow 300ms;
			    box-shadow: inset 0 0 #e6e6e6;
			    text-decoration: none;
	    	}

	    	a:hover {
			    box-shadow: inset 1vw 0 #eee;
			    text-decoration: none;
			}

			a.active{
				background: #eee;
				color: #000;
				font-weight: 700;
			}
	    }
	}

	.right-block{
		position: relative;
	    top: 0px;
	    bottom: 0;
	    right: 0;
	    width: 100%;
	    z-index: 99;

	    section{
	    	padding: 20px;
	    	color: #333;

	    	.text-content{
	    		width: 100%;
			    display: inline-block;
			    vertical-align: top;
			    padding: 0 3vw;
	    	}

	    	.image-content{
			    width: 100%;
			    vertical-align: top;

			    img{
			    	max-width:100%;
			    }
	    	}

	    	header{
	    		font-size: 40px;
	    		font-weight: 600;
    			line-height: 1.2em;
    			margin: .5rem 0 2.5rem;
    			color: #000;
	    	}

	    	p{
	    		font-size: 16px;
			    line-height: 2em;
			    margin: 10px 0 15px 0px;
			    text-align: justify;
	    	}

	    	ul{
	    		display: block;
			    list-style-type: disc;
			    -webkit-margin-before: 1em;
			    -webkit-margin-after: 1em;
			    -webkit-margin-start: 0px;
			    -webkit-margin-end: 0px;
			    -webkit-padding-start: 40px;
	    	}
	    }
	}
}

.button{
	padding: 10px 50px;
    border-radius: 2px;
    
    display: inline-block;
    margin: 0px;
    text-align: center;
    z-index: 99;
    position: relative;
    cursor: pointer;
    
    border: 1px solid rgba(0,0,0,0.2);

    text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
    letter-spacing: -0.5px;

    font-weight: 500;
    font-size: 16px;

}

.button.black-background{
	color: #fff;
	background: #000;
}

img.blurred{
	filter: blur(1px);
	// Browser Specific
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
}

.fixed-nav{
	padding: 10px 10px;
	position: fixed;
	background: #fff;
	z-index: 100;
	width: 100%;

	span{
		background: #000;
		color: #fff;
		line-height: 40px;
		padding: 8px 15px;
		border-radius: 20px;
		margin-right: 10px;
		cursor: pointer;
		box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
	}

	span:last-child{
		margin-right: 0px;
	}

	span.active{
		background: #eee;
		color: #000;
		font-weight: 600;
		border: 1px solid #000;
		box-shadow: none;
	}
}

.fixed-nav-offset{
	height: 100px;
	width: 100%;	
}

.fixed-bottom-cta {
	background: #fff;
	padding: 10px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right:0px;

	a.button{
		width: 100%;
	}	
}

.fixed-bottom-cta-offset{
	height: 65px;
	width: 100%;
}


.nav-main-option{
	position: absolute;
	top: 60px;
	left: 0px;
	right:0px;
	background: #fff;
	min-height: 100%;
	display: none;

	.main-option-content{
		max-width: 800px;
		width: 100%;
		margin: 0 auto;
		padding: 50px 10px;

		header{
			margin-bottom: 20px;
			font-size: 40px;
			text-align: center;
			color: #111;
		}

		h3{
			font-size: 24px;
			text-align:center;
			margin-bottom: 16px;
		}

		h4{
			font-size: 20px;
			text-align: center;
			margin-bottom: 10px;
		}

		p{
			font-size: 18px;
			margin-bottom: 15px;
		}
	}
}

.home-nav{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 60px;
	text-align: center;
	display: block;

	z-index: 2000;

	a{
		display: inline-block;
		height:60px;
		padding: 15px;
		line-height: 30px;
		font-size: 20px;
		color: #fff;
		cursor: pointer;
	}

	a:hover{
		color: #fff;
	}
}

.home-nav.hidden{
	display: none;
}


.glyphicon.top-right-x{
	position: absolute;
    right: 20px;
    top: 20px;
    font-size: 30px;
    color: #666;
    cursor: pointer;
}


.about-image{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 3px solid #fff;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}

.project-box{
	
	text-align: center;
    display: inline-block;
    width: 200px;
    height: 200px;

    border: 1px solid #ccc;

    cursor: pointer;
}

.project-box:hover{
	
	border: 1px solid #fcc;
}


.stack-container{
	padding: 20px;
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;	
	margin-bottom: 30px;

	text-align: center;

	.color-square{
		display: inline-block;
		width: 70px;
		height: 70px;
		line-height: 70px;

		background: #111;
		color: #fff;

		margin: 10px 0px;
	}
}

.color-circle{
	width: 100px;
	height: 100px;
	line-height: 100px;
	background: #111;
	color: #fff;
	border-radius: 50%;
	display: inline-block;

	transform:scale(1);
    transition:all 1s;

    font-size: 20px;
}

.color-circle:hover{
	transform:scale(1.1);
}