<div class="home-nav hidden">

	<a class="action-button reveal-slide-down hide-nav">Home</a>

	<a class="action-button reveal-slide-down" data-slide-down-panel-id="about">About</a>

	<a class="action-button reveal-slide-down" data-slide-down-panel-id="projects">Projects</a>

	<a class="action-button reveal-slide-down" data-slide-down-panel-id="contact">Contact</a>

	

</div>