<!DOCTYPE html>
<html>
	
	<head>
		<title>Shane Randolph</title>
		
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>

		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

	  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#000000">

		<meta name="description" content="Shane Randolph is a web developer, designer, and marketer based in Montreal.">


	</head>

	<body>

<!-- 		Thanks for taking a look at my code; I'm flattered.  I started learning web design by spending hours in the explorer. -->

		<div class="main-container">
			
				
				<%= yield %>

			<%# render 'layouts/footer' %>

		</div>

	</body>

</html>
