<!DOCTYPE html>
<html>
	
	<head>
	  <title>Shanerandolph</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>

	  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

	</head>

	<body>

<!-- 		Thanks for taking a look at my code; I'm flattered.  I started learning web design by spending hours in the explorer. -->

		<div class="main-container">
			
				
				<%= yield %>

			<%# render 'layouts/footer' %>

		</div>

	</body>

</html>
